.cover__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 62.5vw; /* По вертикали при ширине вьюпорта < 1024 блок (и его фон) будет сохранять пропорцию, но не ограничит макс. высоту в случае большого кол-ва контента. */
  max-width: 1184px;
  position: relative;
  background: center/cover url(../../../images/cover-trains.jpg);
  z-index: 1;
}

@media (min-width: 1024px) {
  .cover__link {
    min-height: 640px; /* Отключено следование за шириной вьюпорта, когда он > 1024. Теперь высота может расти только за счёт контента. */
  }
}

@media (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2a2c2f;
  opacity: 0.3;
  transition: opacity ease-in .4s;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: 0.8;
}
