.footer__link {
  color: #fff;
  font: normal 24px/1 'Inter', sans-serif;
  text-decoration: none;
  transition: opacity ease-in .4s;
}

@media (min-width: 768px) {
  .footer__link {
    font: normal 16px/1.12 'Inter', sans-serif;
  }
}

.footer__link:hover {
  opacity: 0.8;
}
