.lead__title {
  margin: 0;
  padding: 48px 0 min(5vw, 32px);
  text-align: center;
  width: 90vw;
  max-width: 720px;
  color: #fff;
  font: 900 min(12.5vw, 96px) / min(1.1em, 100px) 'Inter', sans-serif;
}

@media (min-width: 1280px) {
  .lead__title {
    padding-top: 56px;
  }
}
