.place {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0 0;
}

@media (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
    padding: 73px 0 0;
  }
}

@media (min-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
    padding: 80px 0 0;
  }
}

@media (min-width: 1280px) {
  .place {
    max-width: 984px;
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
  }
}
