.footer {
  background: #2a2c2f;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 768px) { /* удалено дублирование justify-content: flex-start; */
  .footer {
    padding: 0 min(3.1vw, 48px) 0;
    flex-flow: row;
    align-items: center;
  }
}

@media (min-width: 1184px) {
  .footer {
    padding: 0 min(calc((1280px - 1184px) / 2), calc((100vw - 1184px) / 2));
  }
}
